/* Global Style */

:root{

  /* Global Color */
  --primary-blue:#193B6A;
  --light-blue: #2680EB;
  --dark-blue: #00122a;
  --border-grey: #707070;
  --dark-grey: #868686;
  --white:rgb(255, 255, 255);
  --black:rgb(0, 0, 0);
  --banner-quicklinks-footer-bg-color: #F1F3F6;
  --main-sector-button-color:#EFEFEF;
  --agencies-h3:#B7B7B7;

  /* Color For Sidebar */
  --primary-blue-sidebar:#193B6A;
  --white-sidebar:rgb(255, 255, 255);

  /* Color For DarkMode/Font Button */
  --white-toggle-darkmode-font-size:rgb(255, 255, 255);


}


body{
  background-color: var(--white);
}

/* Global Style */
a{
  text-decoration: underline;
  color:var(--light-blue);
}

h1{
  font-size: 67px;
  font-weight: 600;
}

h2{
  font-size: 25px;
  font-weight: bold;
}

h3{
  font-size: 16px;
  font-weight: bold;
}


button{
  cursor: pointer;
}

.button{
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
  color: var(--black);
}

p{
  color: var(--black);
}

span{
  color: var(--black);
}



/* START HEADER STYLES */

/* *{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
} */

.nav-main{
  /* position:fixed; */
  top: 0px;
  width: 100%;
  height: 110px;
  z-index: 1000;
  background-color: var(--white);
  z-index: 1000;
  transition: all 0.3s ease-in-out 0s;
}

.mot-header{
  color: var(--dark-blue);
  transition: all 0.3s ease-in-out 0s;
}

.mot-header img{
  padding: 0px;
  margin: 0px;
  width: 76px;
  height: 61px;
}

.mot-title{
  float: right;
  width: 91%;
}

.mot-header span{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.mot-header p{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  
}


.search-input-container{
  margin-top: -60px;
  float: right;
  width: 43%;
}

.search-input{
  width: 274px;
  height: 34px;
  font-size: 14px;
  background-color: transparent;
  background-image: url("../assets/icon/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 20px;
  border: 1px solid var(--border-grey);
 
} 

.btn-control{
  margin-top: -60px;
  float: right;
}

.btn-toggle-language{
  color: var(--primary-blue);
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  
}

.btn-toggle-nav{
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 92px;
  height: 29px;
  font-weight: 600;
}


.nav-sidebar{
  background-color: var(--primary-blue-sidebar);
  color: var(--white-sidebar);
  position: fixed;
  top: 110px;
  width: 0px;
  height: 100%;
  padding: 0px;
  z-index: 999;
  transition: all 0.3s ease-in-out 0s;
  
}

.nav-sidebar ul{
  padding-top: 15px;
  padding-left: 100px;
  font-size: 25px;
  /* overflow: hidden;
  visibility: hidden; */
}

.nav-sidebar ul li{
  line-height: 60px;
  list-style: none;
  cursor: pointer;
}

.nav-sidebar ul li a{
  color: var(--white-sidebar);
  transition: all 0.3s ease-in-out 0s;
}

.nav-sidebar-2{
  position: fixed;
  left: 34%;
  width: 100%;
  bottom: 0px;
  height: calc(95vh - 60px);
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  display: none;
}

.nav-sidebar-2 ul{
  visibility: hidden;
  overflow: hidden;
}

.nav-sidebar-2 ul li{
  cursor: pointer;
  list-style: none;
}

.nav-sidebar-2 ul li a{
  display: block;
  text-decoration: none;
  
}

.active-child-level2 .btn{
  font-size: 35px;
}


.active-child-level2 .nav-sidebar-2{
  visibility: visible;
  display: block;
}
.active-child-level2 .nav-sidebar-2 ul {
  display: block;
  visibility: visible;
}

.active-child-level2 .nav-sidebar-2 ul li{
  display: block;
}


.menu{
  display: none;
}

@media all and (max-width: 1023px){


  .mot-header span{
    font-size: 12px;
    width: 90px;
  }
  
}

@media all and (max-width: 914px){
  .mot-title{
    float: right;
    width: 88%;
  }
}

@media all and (max-width: 768px){
  .nav-main{
    width: auto;
    height: 68px;
  }
  .mot-title{
    width:90%;
  }

  .mot-header img{
    width: 50px;
    height: 29px;
  }
  
  .mot-header span{
    font-size: 16px;
  }
  
  .mot-header p{
    display: none;
  }

  .search-input-container{
    display: none;
    margin-top: -0px;
    float: left;
  }
  
  .search-input{
    width: 234%;
    margin-top: 12px;
   
  } 
  
  .btn-control{
    margin-top: -35px;
  }
  
  .btn-toggle-language{
    color:var(--primary-blue);
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    
  }
  
  .btn-toggle-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: 92px;
    height: 29px;
    font-weight: 600;
  }
  
  .nav-sidebar{
    top: 58px;
    padding-left: 0px;
    top: 68px;
  }

  .nav-sidebar ul{
    padding-top: 0px;
    padding-left: 0px;
    font-size: 20px;
  }

  .nav-sidebar ul li{
    line-height: normal;
  }

  .nav-sidebar-2{
    position: static;
    padding-left: 0px;
    margin-top: 0px;
    height: 100%;
  }

  .nav-sidebar-2 ul{
    visibility: visible;
    overflow: visible;
    font-size: 18px;
  }

  .active-child-level2 .btn{
    font-size: 20px;
  }

  .mot-logo h1{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .menu{
    /* width: 100%; */
    /* border-radius: 8px; */
    overflow-y: scroll;
    padding: -10px;
    margin-left: -20px;
    height: 100%;
  }
  .item{
    border: 1px solid #285696;
    overflow: hidden;
  }
  .btn{
    display: block;
    padding: 16px 20px;
    background: var(--primary-blue-sidebar);
    color: var(--white);
    position: relative;
  }
  .btn:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background:var(--primary-blue-sidebar);
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
  }
  .btn i{
    margin-right: 10px;
  }
  .smenu{
    background:#153158;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    margin-left: -20px;
  }
  .smenu li{
    border-bottom: 1px solid #285696;
  }
  .smenu a{
    display: block;
    padding: 16px 26px;
    color: var(--white);
    margin: 4px 0;
    position: relative;
  }
  .smenu a:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--primary-blue);
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
  }
  .smenu a:hover:before{
    opacity: 1;
  }
  .item:target .smenu{
    max-height: 50em;
  }
}

@media all and (max-width: 569px){
  .nav-main{
    width: auto;
    height: 68px;
  }

  .mot-header{
    width: 58%;
  }
  .mot-title{
    float: none;
    position: relative;
    left: 50px;
    margin-top: -27px;
  }

  .mot-header img{
    width: 50px;
    height: 29px;
  }
  
  .mot-header span{
    font-size: 12px;
    width: 90px;
  }
  
  .mot-header p{
    display: none;
  }

  
  .search-input{
    margin-top: 12px;
  } 
  
  .btn-control{
    float: right;
    margin-top: -25px;
  }
  
  .btn-toggle-language{
    color: var(--primary-blue);
    border-radius: 4px;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-toggle-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: 92px;
    height: 29px;
    font-weight: 600;
  }

  .nav-sidebar{
    top: 68px;
  }


}

@media all and (max-width: 375px){
  .mot-title{
    width: 90px;
    margin-top: -40px;
    padding-left: 10px;
  }

  .btn-control{
    margin-top: -35px;
  }


  .search-input{
    margin-top: 6px;
  } 
}
/* END HEADER STYLES */
  















/* START MAIN STYLES */

/* START INDEX.PHP STYLES */
.grid-container{
    padding: 20px;
}


/* Main Banner */
.banner-caption{
    background-color: #1E3F6D;
    color: var(--white-sidebar);
    padding: 5px;
    font-size: 19px;
    /* max-width: 40%; */
    position: relative;
    margin-top: -70px;
    padding: 15px;
    /* position: absolute;  */
    
}

@media all and (max-width: 767px) {
  .banner-caption{
    z-index: 0;
    margin-top: -40px;
    font-size: 14px;
  }

}



/* Slick = Banner Announcement Slider */
.slick{
  z-index: 999;
}

.banner-announcements .slick-slider{padding-bottom: 0;}

/* .toggle-darkmode-font-size */
.toggle-darkmode-font-size{
  position: fixed;
  background-color: var(--white-toggle-darkmode-font-size);
  padding: 13px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
  right: 0px;
  top: 64.6%;
  text-shadow: var(--black);
  z-index: 1000;
  width: 140px;
  font-size: 16px;
}

.toggle-darkmode-font-size button{
  margin-top: -20px;
  width: 30px;
}


@media all and (max-width: 768px) {
  .toggle-darkmode-font-size{
  top:7%;
  border-radius: 12px;
  right: -10px;
  width: auto;
  }

  .toggle-darkmode-font-size button{
  margin-top: -20px;
  width: 20px;
  }
  
}


/* main-sector-button */

.main-sector-button{ 
  text-align: center;
}

ul.main-sector-btn {
  margin: 15px 0 15px 0;
}

.main-sector-button ul li{ 
  display: inline-block; padding: 0 10px; 
}

.main-sector-button button, .main-sector-button li a{
  border-radius: 25px; 
  font-weight: bolder;
  color: var(--primary-blue);
  font-size: 25px;
  border: solid;
  border-color:var(--main-sector-button-color);
  background-color: transparent;
  height: 62px;
  padding:5px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.main-sector-button li img{
  padding-right: 10px;
}

.main-sector-button ul li a:hover{
  background-color:var(--light-blue);
  color:#FFF;
  transition: all 0.35s;
}

@media all and (max-width: 768px) {
  .main-sector-button ul li{display:block; padding: 8px 0;
  }

}

/* front-topic */
.front-topic{
    text-align: center;
    color: var(--dark-grey);
}

.front-topic a{
    color: var(--primary-blue);

}

.banner-announcement-caption{
  color: var(--black);
}



/* required-banner */
.banner-announcements{
  background-color:var(--banner-quicklinks-footer-bg-color);
}


/* quick-links */
.quick-links{
  background-color:var(--banner-quicklinks-footer-bg-color);
}

.quick-links .row{
    border-top: solid;
    text-align: left;
    border-color: var(--dark-grey);
    padding-top: 50px;
}


/* agencies-under-mot */
.agencies-under-mot{
  background-image: url("../assets/icon/airplane-ship-train.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 148.34px;
}

.agencies-under-mot .row{
  border-top: solid;
  text-align: left;
  border-color: var(--dark-grey);
  padding-top: 50px;

}
.agencies-under-mot h3{
  color:var(--agencies-h3);
  padding-top: 5px;
  padding-bottom: 10px;

}

.agencies-under-mot li{
  padding-bottom: 20px;
}

.aviation-agencies{
  padding-right: 30px;
}

.land-logistics-agencies{
  padding-right: 30px;
  padding-left: 30px;
}

.maritime-agencies{
  padding-right: 30px;
  padding-left: 30px;
}


@media all and (max-width: 767px){
  .agencies-under-mot{
    background-position: right bottom;
  }

  .aviation-agencies{
    padding: 0px 15px;
  }
  
  .land-logistics-agencies{
    padding: 0px 15px;
  }
  
  .maritime-agencies{
    padding: 0px 15px;
  }
}
/* END INDEX.PHP STYLES */

/* START STAFF-DIRECTORY.PHP STYLES */
.staff-directory h2{
  font-size: 42px;
}

.staff-directory h3{
  font-size: 25px;
}

.staff-directory a{
  text-decoration: none;
}

.staff-directory .grid-container .row{
  border-top: 1px solid var(--border-grey);
  padding-top: 55px;
}


/* END MAIN STYLES */









/* START FOOTER STYLES */

footer{
    background-color: var(--banner-quicklinks-footer-bg-color);
    padding: 20px;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

footer h4{
  font-size: 16px;
  font-weight: 600;
  
}

footer a{
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}

footer .mot-info{
    text-align: right;
}

footer .social-links li {
  padding: 5px;
  display: inline;
}

footer .footer-quick-links{
    border-top: solid;
    text-align: center;
    border-color: var(--border-grey)
}

footer .footer-quick-links a{
    color: var(--black);
}

footer .footer-quick-links li {
  
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.mot-info h4{
  font-size: 16px;
  font-weight: 600;
}

.mot-info p{
  font-size: 14px;
  font-weight: 400px;
}

/* END FOOTER STYLES */
