/* CSS Fixes */
.row .row {padding: 10px 0}

button.button a {color: white; text-decoration: none}
button.button {border-radius: 0px}

header .mot-title a{color:#ccc}

/* Former Minister Page */
.img-wrap img {height: 260px; width: 100%; padding-bottom: 10px; filter: grayscale(5%);}
.img-wrap span {font-size:0.9em;}
.img-wrap {padding-bottom: 30px}
.img-wrap h3 {font-size: 0.9em;}
/* -----COLOR THEME VARIABLE----- */

html, html[data-theme="light"]{
  /* Global Color */
  --primary-blue:#193B6A;
  --light-blue: #2680EB;
  --dark-blue: #00122a;
  /* --border-grey: #707070; */
  --row-border: #cfcfcf;
  --border-grey: rgba(134, 134, 134, .31);
  --solid-border-grey: #868686;
  --white:rgb(255, 255, 255);
  --black:rgb(20, 20, 20);
  --banner-quicklinks-footer-bg-color: #F1F3F6;
  --main-sector-button-color:#20B3AF;
  --main-sector-button-caption:#193B6A;
  --section-header-color:#20B3AF;
  --agencies-h3:#B7B7B7;
  --date-color:#9F9F9F;  
  --normal-white:rgb(255, 255, 255);    

}

html[data-theme="dark"]{
  --white:#222222;
  --black:#ffffff;
  --primary-blue:#ffffff;
  --light-blue:#7AC4FC;
  --dark-blue:#ffffff;
  --banner-quicklinks-footer-bg-color:#101010;
  --white-toggle-darkmode-font-size:#193B6A;
  --date-color:#7AC4FC; 
  --main-sector-button-color:#707070;
  --main-sector-button-caption:#A1D5FC;
  --section-header-color:#101010;
 
  
   
}

/* to detect whether a site visiter prefers dark mode: */
@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}










/* -----GLOBAL STYLE CODE----- */
:root{
   /* Grid Container Padding */
   --narrow:30px;
   --standard:50px;
   --large:75px;

   /* Color For Sidebar */
  --primary-blue-sidebar:#193B6A;
  --white-sidebar:rgb(255, 255, 255);

  /* Color For DarkMode/Font Button */
  --white-toggle-darkmode-font-size:rgb(255, 255, 255);
  --theme-transition:all 0.5s ease-in-out 0s;

  /* From slick-theme.css */
  /* --slick-arrow-color:#ffffff;
  --slick-dots-color:#ffffff;   */
}

body{
  background-color: var(--white);
  transition: var(--theme-transition);
}

main a{
  text-decoration: underline;
  color:var(--light-blue);
}

/* a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
} */

main h1{
  font-size: 42px;
  font-weight: 600;
  color:var(--primary-blue);
}

main h2{
  font-size: 25px;
  font-weight: bold;
  /* color:var(--primary-blue); */
  color:var(--light-blue);
  padding-top: var(--narrow);
}

main h3{
  font-size: 16px;
  font-weight: bold;
}


main button{
  cursor: pointer;
}

main .button{
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

main h2, main h3, main h4, main h5, main h6{
  font-family: 'Raleway', sans-serif;
  color: var(--black);
}

main p{
  color: var(--black);
}

main span{
  color: var(--black);
}










/* -----START HEADER STYLES----- */



.nav-main{
  top: 0px;
  width: 100%;
  height: 110px;
  z-index: 1000;
  background-color: var(--white);
  z-index: 1000;
  transition: var(--theme-transition);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
  text-shadow: var(--black);
}

.nav-main .row{
  padding-top: 20px;
  padding-bottom: 0px;
}

.mot-header{
  color: var(--dark-blue) !important; 
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  z-index: 1000;

}

.mot-header img{
  padding: 0px;
  margin: 0px;
  width: 76px;
  height: 61px;
  transition: var(--theme-transition);
}

.mot-title{
  float: right;
  width: 91%;
  color: var(--dark-blue) !important; 
}

.mot-title span{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  transition: var(--theme-transition);

}

.mot-title p{
  font-family: 'Raleway', sans-serif;
  font-size: 13px; 
  transition: var(--theme-transition);
}


.search-input-container{
  margin-top: -60px;
  float: right;
  width: 35%;
  position: relative;
  z-index: 1000;
  transition: var(--theme-transition);
}

.search-input{
  width: 194px;
  height: 34px;
  font-size: 14px;
  background-color: transparent;
  background-image: url("../assets/icon/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 20px;
  border: 1px solid var(--border-grey);
  transition: var(--theme-transition);
}
input[type='text']:hover{
  background-color:var(--primary-blue);
  color:var(--white);
}

.btn-control{
  margin-top: -60px;
  float: right;

}

.btn-toggle-language{
  color: var(--primary-blue);
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  
}

.btn-toggle-nav{
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 92px;
  height: 29px;
  font-weight: 600;
  position: relative;
  z-index: 1000;
}

.menu-btn { 
  position: absolute; 
  z-index: 3; 
  left: 10px; 
  top: 35px; 
  margin-top: -30px;
  cursor: pointer; 
  transition: all 0.5s ease-out; 
} 

/* Styling the hamburger lines */
.menu-btn .btn-line{
  width: 22px;
  height: 2px;
  margin: 3px 0 3px 0;
  background: var(--white);
  transition: all 0.5s ease-out;
}

/* Adding transform to the X  */
.menu-btn.close{
  transform: rotate(180deg);
}

/* Styling the three lines  to make it an X */
.menu-btn.close .btn-line:nth-child(1) { 
  transform: rotate(45deg) translate(4px, 3px); 
} 
    
.menu-btn.close .btn-line:nth-child(2) { 
  opacity: 0; 
} 
    
.menu-btn.close .btn-line:nth-child(3) { 
  transform: rotate(-45deg) translate(4px, -3px); 
}
      
.btn-toggle-menu-position{
  position: relative;
  /* left: 15px; */
  padding-left: 24px;
}


.nav-sidebar{
  background-color: var(--primary-blue-sidebar);
  opacity: 0.98;
  color: var(--white-sidebar);
  position: fixed;
  top: 0px;
  width: 0px;
  height: 100%;
  padding: 0px;
  z-index: 999;
  transition: all 0.3s ease-in-out 0s;
  
}

.nav-sidebar ul{
  margin-top: 140px;
  font-size: 25px;
  padding-left: 440px; 
 
}

@media all and (max-width: 1440px){
  .nav-sidebar ul{
    padding-left: 210px; 
  }
}

@media all and (max-width: 1024px){
  .nav-sidebar ul{
    padding-left: 0px; 
  }
}

.nav-sidebar ul li:hover{
  font-size: 1.3em;
}


.nav-sidebar ul li{
  line-height: 60px;
  list-style: none;
  cursor: pointer;
  width: 300px; /* Set the range of where the user can click in the sidebar-menu */
}

@keyframes FadeIn{
  0%{
    opacity: 0;
    transform: scale(0.8);
  }

  85%{
    opacity: 1;
    transform: scale(1.03);
  }

  100%{
    transform: scale(1);
  }
}

li.item{
  animation: FadeIn .6s linear;
  /* animation-fill-mode: both; */
  animation-fill-mode: backwards;
}

li.item-active{
  animation: FadeIn .6s linear;
  animation-fill-mode: backwards;
}


.nav-sidebar ul li a{
  color: var(--white-sidebar);
  transition: all 0.35s ease-in-out 0s;
  height: 50px;
  position: relative;
  z-index: 1000;

}

.nav-sidebar-2{
  position: fixed;
  left: 14%;
  width: 100%;
  bottom: 0px;
  height: auto;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  display: none;
  top: 0px;
}

.nav-sidebar-2 ul{
  visibility: hidden;
  overflow: hidden;
  
}

.nav-sidebar-2 ul li{
  cursor: pointer;
  list-style: none;
  width: 600px;
}

.nav-sidebar-2 ul li a{
  display: block;
  text-decoration: none;
  height: 50px;
  
}

.active-child-level2 .btn{
  font-size: 35px;
}


.active-child-level2 .nav-sidebar-2{
  visibility: visible;
  display: block;
}
.active-child-level2 .nav-sidebar-2 ul {
  display: block;
  visibility: visible;
}

.active-child-level2 .nav-sidebar-2 ul li{
  display: block;
}


.menu{
  display: none;
}

@media all and (max-width: 1024px){
  
  .nav-sidebar-2{
    left: 24%;
  }

}

@media all and (max-width: 1023px){


  .mot-header span{
    font-size: 12px;
    width: 90px;
  }
  
}

@media all and (max-width: 914px){
  .mot-title{
    float: right;
    width: 88%;
  }
}

@media all and (max-width: 768px){
  .nav-main{
    width: auto;
    height: 68px;
  }
  .mot-title{
    width:90%;
  }

  .mot-header img{
    width: 50px;
    height: 29px;
  }
  
  .mot-header span{
    font-size: 16px;
  }
  
  .mot-header p{
    display: none;
  }

  .search-input-container{
    display: none;
    margin-top: 0px;
    float: left;
    z-index: 1000;
  }
  
  .search-input{
    width: 282%;
    margin-top: 12px;
   
  } 
  
  .btn-control{
    margin-top: -35px;
  }
  
  .btn-toggle-language{
    color:var(--primary-blue);
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    
  }
  
  .btn-toggle-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: 92px;
    height: 29px;
    font-weight: 600;
    margin-right: 12px;
  }
  
  .nav-sidebar{
    top: 0px;
    padding-left: 0px;
    padding-top: 120px;
    
   
  }

  .nav-sidebar ul{
    padding-top: 0px;
    padding-left: 0px;
    font-size: 20px;
    margin-top: 0px;

  }

  .nav-sidebar ul li{
    line-height: normal;
    width: 100%;
  }

  .nav-sidebar-2{
    position: static;
    padding-left: 0px;
    margin-top:-20px;
    height: 100%;
  }

  .nav-sidebar-2 ul{
    visibility: visible;
    overflow: visible;
    font-size: 18px;
  }

  .active-child-level2 .btn{
    font-size: 20px;
  }

  .mot-logo h1{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .menu{
    overflow-y: scroll;
    padding: -10px;
    margin-left: -20px;
    height: 100%;
  }
  .item{
    border: 1px solid #285696;
    overflow: hidden;
  }
  .btn{
    display: block;
    padding: 16px 20px;
    background: var(--primary-blue-sidebar);
    color: var(--white);
    position: relative;
  }
  .btn:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background:var(--primary-blue-sidebar);
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
  }
  .btn i{
    margin-right: 10px;
  }
  .smenu{
    background:#153158;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    margin-left: -20px;
    margin-top: 25px;
  }
  .smenu li{
    border-bottom: 1px solid #285696;
  }
  .smenu a{
    display: block;
    padding: 16px 26px;
    color: var(--white);
    margin: 4px 0;
    position: relative;
  }
  .smenu a:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--primary-blue);
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
  }
  .smenu a:hover:before{
    opacity: 1;
  }
  /* .item:target .smenu{
    max-height: 50em;
  } */
  .active-child-level2 .smenu{
    max-height: 50em;
  }



}

@media all and (max-width: 569px){
  .nav-main{
    width: auto;
    height: 68px;
  }

  .mot-header{
    width: 58%;
  }
  .mot-title{
    float: none;
    position: relative;
    left: 50px;
    margin-top: -27px;
  }

  .mot-header img{
    width: 50px;
    height: 29px;
  }
  
  .mot-header span{
    font-size: 12px;
    width: 90px;
  }
  
  .mot-header p{
    display: none;
  }

  
  .search-input{
    margin-top: 12px;
  } 
  
  .btn-control{
    float: right;
    margin-top: -25px;
  }
  
  .btn-toggle-language{
    color: var(--primary-blue);
    border-radius: 4px;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-toggle-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: 92px;
    height: 29px;
    font-weight: 600;
  }

  .nav-sidebar{
    top: 0px;
    padding-top: 120px;
  }


}

@media all and (max-width: 375px){
  .mot-title{
    width: 90px;
    margin-top: -40px;
    padding-left: 10px;
  }

  .btn-control{
    margin-top: -35px;
  }


  .search-input{
    margin-top: 6px;
  } 
}


/* Internal page header */

.page-banner{
  background-image: url("../assets/img/aviation-banner.jpg");
  background: auto center center;
  height: 250px;
  background-color: var(--primary-blue);

}

/* Internal page header ends */

/* -----END HEADER STYLES----- */










/* -----START FOOTER STYLES----- */

footer{
  background: rgb(32,179,175);
  background: linear-gradient(0deg, rgba(32,179,175,1) 0%, rgba(25,63,108,1) 100%);
  color: var(--normal-white);
  padding: 20px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  transition: var(--theme-transition);;
}

footer h4{
font-size: 16px;
font-weight: 600;
color: var(--normal-white);

}

footer a{
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  color: var(--normal-white);
}

footer p{
  color: var(--normal-white);
}

footer .social-links li {
padding: 5px;
display: inline;
}

footer ul.social-links {
  margin-top: -15px;
}

footer ul.social-links li i{
  font-size: 15px;
}

footer .footer-quick-links a{
  color: var(--normal-white);
}


.footer-quick-links .row{
  padding-top:var(--narrow);
  padding-bottom: 0;
  margin-bottom: -20px;
}

footer .footer-quick-links{
  border-top: solid;
  text-align: center;
  border-color: var(--border-grey)
}


footer .footer-quick-links li {

line-height: 1.5;
display: inline-block;
vertical-align: middle;
}

footer img#mot-logo{
  padding-bottom: var(--narrow);
}

.fa-phone-alt{
  color: var(--normal-white);
}
.fa-print{
  color: var(--normal-white);
}
.fa-envelope{
  color: var(--normal-white);
}


.mot-info h4{
  font-size: 16px;
  font-weight: 600;
  }
  
  .mot-info p{
  font-size: 14px;
  font-weight: 400px;
  }
  
  .mot-info .mini-right{
    display:block;
    width:48%;
    float:right;
  }
  .mot-info .mini-left{
    display:block;
    float:left;
    width:48%;
  }


  /* .toggle-darkmode-font-size */
.toggle-darkmode-font-size{
  position: fixed;
  background-color: var(--white-toggle-darkmode-font-size);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
  right: -10px;
  top: 64.6%;
  text-shadow: var(--black);
  z-index: 1000;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 5px;
}

@media all and (max-width: 768px){
  .toggle-darkmode-font-size{
    padding-right: 25px;
  }
}

.toggle-darkmode-font-size button{
  margin-top: -20px;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;

}

.toggle-darkmode-font-size button:hover{
  background-color:var(--light-blue);
  color:#FFF;
  transition: all 0.35s;
}


@media all and (max-width: 768px) {
  .toggle-darkmode-font-size{
  top:7%;
  border-radius: 12px;
  right: -10px;
  width: auto;
  }

  .toggle-darkmode-font-size button{
  margin-top: -20px;
  width: 20px;
  }
  
}

.fa-moon{
  color: var(--black);
}
.fa-font{
  color: var(--black);
}
.fa-plus{
  color: var(--black);
}

/* -----END FOOTER STYLES----- */










/* -----START MAIN STYLES----- */

/* INDEX.PHP STYLES */
.row{
  padding-top: var(--standard);
  padding-bottom: var(--standard);
}


/* Main Banner */
.site-intro .row{
  padding-top: 0;
  padding-bottom: 0;
}

.breadcrumb-wrap{
  background-color: var(--white);
  color: var(--white);
  transition: var(--theme-transition);
}

.breadcrumbs li{
  color: var(--black);
}

.grid-container.breadcrumb-wrap .row{
  padding-top: 15px;
  padding-bottom: 0 !important;
  
}

.breadcrumb-menu-btn{
  display: none;
  transition: var(--theme-transition);
}


.main-sector-illustration{
  background-color:  var(--white);
  background: linear-gradient(0deg, var(--white) 0%, rgba(79,194,255,1) 100%);
  transition: var(--theme-transition);
}

.main-sector-background{
  background-image: url(../assets/img/index2/main-sector-background.png);  
  background-repeat: no-repeat; 
  background-position: 100% center; 
}

.main-banner{
  position: relative;
  /* max-width: 1366px;
  max-height: 474px; */
}

.main-sector.main-sector-desktop{ 
  padding-top: - var(--standard);
  padding-bottom: - var(--standard);
}

.main-sector-desktop .main-sector-button{ 
  position: absolute;
  top: 19%;
}

.main-sector-caption{
  font-size: 16px;
  /* text-align: left; */
  width: 315px;
  margin-left: 10px;
  /* padding-bottom: 100px; */ 
}

ul.main-sector-btn {
  margin: 15px 0 15px 0;
}

.main-sector-button ul li{ 
  display: inline-block; padding: 0 10px; 
}

.main-sector-button button, .main-sector-button li a{
  border-radius: 22px; 
  font-weight: bolder;
  color: var(--primary-blue);
  font-size: 16px;
  border: solid;
  border-color:var(--main-sector-button-color);
  background-color: transparent;
  height: 40px;
  width: 142px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-sector-button-caption);
  background-color: var(--white);
  /* width: 141px; */
}
.main-sector-button li img{
  padding-right: 10px;
}

.main-sector-button ul li a:hover{
  background-color:var(--light-blue);
  color:#FFF;
  transition: all 0.35s;
}

/* @media all and (max-width: 768px) {
  .main-sector-button ul li{display:block; padding: 8px 0;
  }

} */



/* Slick = Banner Announcement Slider */
.slick{
  z-index: 999;
}

.banner-announcements  {
  transition: var(--theme-transition);
}
.banner-announcements .slick-slide img {
  display: block;
  height: 203px;
  object-fit: cover;
}

.banner-announcements .slick-slider{padding-bottom: 0;}

.banner-announcements{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(25,59,106,1) 100%);
  transition: var(--theme-transition);
  padding-top: var(--standard);
  padding-bottom: var(--standard);
}

.banner-announcements-header{
  position: absolute;
  background-color: var(--section-header-color);
  transition: var(--theme-transition);
  border-radius: 5px;
  width: 196px;
  height: 48px;
  left: 25%;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  margin-top: -75px;
}

.banner-announcement-caption{
  color: white;
}

/* quick-links */
.quick-links{
  background-color:var(--banner-quicklinks-footer-bg-color);
  transition: var(--theme-transition);
}

.quick-links .row{
    border-top: solid;
    text-align: left;
    border-color: var(--border-grey);
    padding-top: 50px;
}



.mot-desc img {
  float: left; 
  height: 69px;
  width: 93px;
}

.mot-desc p{
  margin-left: 25%;
  line-height: 2;
}

@media all and (max-width: 425px){
  .mot-desc p{
    margin-left: 0%;
    margin-top: 29%;
  }
}


/* front-topic */
.front-topic{
  text-align: center;
  color: var(--border-grey);
  padding-top: var(--large);
  padding-bottom: var(--standard);
}

.front-topic-header{
position: absolute;
background-color: var(--section-header-color);
transition: var(--theme-transition);
border-radius: 5px;
width: 196px;
height: 48px;
left: 25%;
color: white;
font-size: 16px;
text-align: center;
padding-top: 10px;
margin-top: -25px;
}

.front-topic .row{
border-top: 1px solid var(--border-grey);
}

.front-topic .solid-border{
border-top: 1px solid var(--solid-border-grey);
}


.front-topic img{
text-align: center;
}




/* mot-news-developments */
.date{
  font-size: 8px;
  color: var(--date-color);
}

.mot-news-developments{
  /* padding-top: var(--standard);
  padding-bottom: var(--standard); */
  transition: var(--theme-transition);
}


/* agencies-under-mot */
.agencies-under-mot{
  background-image: url("../assets/icon/mot-brand-icon.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 148.34px;
  background-size: auto;
}

.agencies-under-mot .row{
  border-top: none;
}

.agencies-under-mot h3{
  color:var(--agencies-h3);
  padding-top: 5px;
  padding-bottom: 10px;

}

.agencies-under-mot li{
  padding-bottom: 20px;
}

.aviation-agencies{
  padding-right: 30px;
}

.land-logistics-agencies{
  padding-right: 30px;
  padding-left: 30px;
}

.maritime-agencies{
  padding-right: 30px;
  padding-left: 30px;
}


@media all and (max-width: 767px){
  .agencies-under-mot{
    background-position: right bottom;
  }

  .aviation-agencies{
    padding: 0px 15px;
  }
  
  .land-logistics-agencies{
    padding: 0px 15px;
  }
  
  .maritime-agencies{
    padding: 0px 15px;
  }
}
/* END INDEX.PHP STYLES */

/* START STAFF-DIRECTORY.PHP STYLES */
.staff-directory h2{
  font-size: 42px;
}

.staff-directory h3{
  font-size: 25px;
}

.staff-directory a{
  text-decoration: none;
}

.staff-directory .grid-container .row{
  border-top: 1px solid var(--border-grey);
  padding-top: 55px;
}

.staff-directory .grid-container .row .column{
  padding-right: 35px;
}

.sidebar-wrap{padding:20px;  border-bottom:  1px solid #CFCFCF;}
ul.sidebar-nav li{list-style-type: none;}
ul.sidebar-nav li:before {
  content: "\f105"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em; 
  color:var(--black);
}
div.sticky { position: -webkit-sticky; /* Safari */ position: sticky; top: 0; }



.no-sidebar .row{
  padding-top: 0;
  padding-bottom:var(--standard);
}

.row-line{
  border-top: 1px solid var(--row-border);
}
/* ----END MAIN STYLES---- */


/* news-archive.php */

.archive-wrap {
  margin-bottom: var(--narrow);
  margin-top: var(--narrow);
}
.archive-wrap h2{
font-size:20px;
}
.archive-wrap p {
  margin-bottom: 0;
}
.archive-wrap span.date{
font-size:12px;
}
